@font-face {
  font-family: "Poppins";
  src: local("Poppins Light"), local("Poppins-Light"),
    url("@/assets/fonts/Poppinslight.woff2") format("woff2"),
    url("@/assets/fonts/Poppinslight.woff") format("woff"),
    url("@/assets/fonts/Poppinslight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("@/assets/fonts/Poppinsregular.woff2") format("woff2"),
    url("@/assets/fonts/Poppinsregular.woff") format("woff"),
    url("@/assets/fonts/Poppinsregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Poppins-BoldSemiBold"), local("Poppins-SemiBold"),
    url("@/assets/fonts/Poppinspoppins-boldsemibold.woff2") format("woff2"),
    url("@/assets/fonts/Poppinspoppins-boldsemibold.woff") format("woff"),
    url("@/assets/fonts/Poppinspoppins-boldsemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Thin"), local("Poppins-Thin"),
    url("@/assets/fonts/Poppinsthin.woff2") format("woff2"),
    url("@/assets/fonts/Poppinsthin.woff") format("woff"),
    url("@/assets/fonts/Poppinsthin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Italic"), local("Poppins-Italic"),
    url("@/assets/fonts/Poppinsitalic.woff2") format("woff2"),
    url("@/assets/fonts/Poppinsitalic.woff") format("woff"),
    url("@/assets/fonts/Poppinsitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"),
    url("@/assets/fonts/Poppinsmediumitalic.woff2") format("woff2"),
    url("@/assets/fonts/Poppinsmediumitalic.woff") format("woff"),
    url("@/assets/fonts/Poppinsmediumitalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins ExtraLight Italic"), local("Poppins-ExtraLightItalic"),
    url("@/assets/fonts/Poppinsextralightitalic.woff2") format("woff2"),
    url("@/assets/fonts/Poppinsextralightitalic.woff") format("woff"),
    url("@/assets/fonts/Poppinsextralightitalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins ExtraBold Italic"), local("Poppins-ExtraBoldItalic"),
    url("@/assets/fonts/Poppinsextrabolditalic.woff2") format("woff2"),
    url("@/assets/fonts/Poppinsextrabolditalic.woff") format("woff"),
    url("@/assets/fonts/Poppinsextrabolditalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"),
    url("@/assets/fonts/Poppinsextrabold.woff2") format("woff2"),
    url("@/assets/fonts/Poppinsextrabold.woff") format("woff"),
    url("@/assets/fonts/Poppinsextrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Light Italic"), local("Poppins-LightItalic"),
    url("@/assets/fonts/Poppinslightitalic.woff2") format("woff2"),
    url("@/assets/fonts/Poppinslightitalic.woff") format("woff"),
    url("@/assets/fonts/Poppinslightitalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Black"), local("Poppins-Black"),
    url("@/assets/fonts/Poppinsblack.woff2") format("woff2"),
    url("@/assets/fonts/Poppinsblack.woff") format("woff"),
    url("@/assets/fonts/Poppinsblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Thin Italic"), local("Poppins-ThinItalic"),
    url("@/assets/fonts/Poppinsthinitalic.woff2") format("woff2"),
    url("@/assets/fonts/Poppinsthinitalic.woff") format("woff"),
    url("@/assets/fonts/Poppinsthinitalic.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Poppins-SemiBoldMedium"), local("Poppins-Medium"),
    url("@/assets/fonts/Poppinspoppins-semiboldmedium.woff2") format("woff2"),
    url("@/assets/fonts/Poppinspoppins-semiboldmedium.woff") format("woff"),
    url("@/assets/fonts/Poppinspoppins-semiboldmedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins ExtraLight"), local("Poppins-ExtraLight"),
    url("@/assets/fonts/Poppinsextralight.woff2") format("woff2"),
    url("@/assets/fonts/Poppinsextralight.woff") format("woff"),
    url("@/assets/fonts/Poppinsextralight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"),
    url("@/assets/fonts/Poppinsbolditalic.woff2") format("woff2"),
    url("@/assets/fonts/Poppinsbolditalic.woff") format("woff"),
    url("@/assets/fonts/Poppinsbolditalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins SemiBold Italic"), local("Poppins-SemiBoldItalic"),
    url("@/assets/fonts/Poppinssemibolditalic.woff2") format("woff2"),
    url("@/assets/fonts/Poppinssemibolditalic.woff") format("woff"),
    url("@/assets/fonts/Poppinssemibolditalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("@/assets/fonts/Poppinsbold.woff2") format("woff2"),
    url("@/assets/fonts/Poppinsbold.woff") format("woff"),
    url("@/assets/fonts/Poppinsbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Black Italic"), local("Poppins-BlackItalic"),
    url("@/assets/fonts/Poppinsblackitalic.woff2") format("woff2"),
    url("@/assets/fonts/Poppinsblackitalic.woff") format("woff"),
    url("@/assets/fonts/Poppinsblackitalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
